/* In the container we set the max width and margin on auto
to center the content of the webpage */
.container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: rgb(247 248 250);
}

/* setting row display to flex allows the columns to be
in a row rather than stacked vertically */

.row {
  display: flex;
}

.column-full {
  width: 100%;
}

/* header text allows us to style and center the header */

.header-text {
  text-align: center;
  margin: auto;
  font-family: Barlow, sans-serif;
}

.column-fourth {
  width: 25%;
}

/* screen pic needs to be set to display flex so we can
align the content to the center of the column with
justufy content and align items */

.screen-pic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-pic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen-shot {
  height: 300px;
  width: 200px;
}

.icon {
  height: 100px;
  width: 100px;
}

.label-style {
  text-align: center;
  font-family: Barlow, sans-serif;
  font-size: 14px;
}

.para-style {
  text-align: center;
  font-family: Barlow, sans-serif;
  font-size: 12px;
}
